---
Checks: [
  "modernize-*",
  "performance-*",
  "readability-*",
  "bugprone-*",
  "misc-*",
  # Remove
  "-readability-identifier-length",
  "-misc-non-private-member-variables-in-classes",
  "-misc-no-recursion",
]
...
